# envFile
/src/main/resources/META-INF/spring/bingo-infra.properties
/src/test/resources/META-INF/spring/bingo-infra.properties

# target
target/**

# log
log/**

# eclipse
.settings/**
.project
.classpath